[Unit]
Description=Copies GNOME extensions if a users profile is missing ones under /etc/gnome-extensions.
Documentation=https://github.com/blake-lucas/BakeOS

[Service]
Type=oneshot
ExecStart=/opt/BakeOS/scripts/copy-gnome-exts.sh

[Install]
WantedBy=multi-user.target